section.reviews
  .reviews__wrapper.container.js-show-container
    h3.reviews__main-title Отзывы:
    ul.reviews__list
      each review, index in reviews
        if index < numberReviews
          li.reviews__item.js-show-item
            .reviews__header
              .reviews__img
                +picture-jpg-webp("" + review.photo, 101, 101, "" + review.title)
              h4.reviews__title !{review.title}
              p.reviews__category !{review.category}

              .reviews__raiting.raiting
                ul.raiting__stars
                  - for (var x = 0; x < 5; x++)
                    li
                      +svg("star", 18, 17)
              p.reviews__check Супер! Я бы заказала съемку снова!

            .reviews__content
              p.reviews__text !{review.text}
              span.reviews__date !{review.date}.
        else
          li.reviews__item.js-show-item.js-hide
            .reviews__header
              .reviews__img
                +picture-jpg-webp("" + review.photo, 101, 101, "" + review.title)
              h4.reviews__title !{review.title}
              p.reviews__category !{review.category}

              .reviews__raiting.raiting
                ul.raiting__stars
                  - for (var x = 0; x < 5; x++)
                    li
                      +svg("star", 18, 17)
              p.reviews__check Супер! Я бы заказала съемку снова!

            .reviews__content
              p.reviews__text !{review.text}
              span.reviews__date !{review.date}.

    .reviews__more
        button.button-more.button-more--double-arrow.js-show-btn(type="button" data-count="" + numberReviews data-text="Свернуть") Показать все <span class="js-show-all"></span>
